
<div class="container">
  <div class="row">
    <div class="sidenav col-6">
      <div class="login-main-text text-center">
        <img src="./assets/images/popcorn.png" width="50%" height="60%">    
          <div layout-padding></div>
          <div layout-padding></div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
      </div>
    </div>
    <div class="main">
      <div class="col-6">
        <div class="login-form">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <h1>Accede a tu cuenta</h1>
              <p class="session-expired" *ngIf="sessionExpired">{{ 'ERROR_SESSION_EXPIRED' | oTranslate }}</p>
              <div class="form-group">
                <mat-form-field style="width:100%;">
                  <input matInput class="mat-input" #user placeholder="{{ 'USERNAME' | oTranslate }}" id="username" formControlName="username">
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width:100%;">
                  <input matInput class="mat-input" #password placeholder="{{ 'PASSWORD' | oTranslate }}" id="password" type="password" formControlName="password">
                </mat-form-field>
              </div>
              <button class="btn btn-secondary btn-lg btn-block" mat-raised-button color="primary" >{{ 'LOGIN' | oTranslate }}</button>
            </form>
        </div>
      </div>
    </div>
  </div>
</div>


