.search-custom {
    border-radius: 40px;
    height: 20px;
}

.btn-custom {
    height: 35px;
    color: #fff;
}

.btn-custom:hover {
    color: #232323;
}

.dropdown-menu {
    background-color: #121212;
}

.dropdown-menu a {
    color: #fff;
}

.dropdown-menu:hover a {
    background-color: #121212;
    color: #888888;

}