<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="/main/home" class="navbar-brand">
    <img src="../../../../assets/images/ppc_logo_v1-01.png" width="150px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a *ngIf="loggedIn" routerLink="/main/movies/list" class="nav-link pr-4 pl-3">Películas</a>
      </li>
      <li *ngIf="loggedIn" class="nav-item dropdown">
        <a routerLink="/main/movies/rank" class="nav-link pr-4 pl-3">Ranking</a>
      </li>

      <li *ngIf="loggedIn" class="nav-item dropdown pr-4 pl-3">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mi cuenta
        </a>
        <div *ngIf="loggedIn" class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a *ngIf="loggedIn" href="/wishlist" class="dropdown-item">Lista de deseos</a>
          <a routerLink="/login" class="dropdown-item">{{ 'LOGOUT' | oTranslate  }} </a>
        </div>
    </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 search-custom" type="search" placeholder="Buscar" aria-label="Buscar">
      <button class="btn btn-outline-light my-2 my-sm-0 btn-custom" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    <a *ngIf="!loggedIn" href="/login" class="btn btn-outline-success mx-1">Login</a>
    <a *ngIf="!loggedIn" href="/register" class="btn btn-outline-success mx-1">Registro</a>
  </div>
</nav>