<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a routerLink="/main/home" class="navbar-brand">
    <img src="../../../../assets/images/ppc_logo_v1-01.png" width="150px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a routerLink="/main/movies/list" class="nav-link pr-4 pl-3">Películas</a>
      </li>
      <li class="nav-item dropdown">
        <a routerLink="/main/movies/ranking" class="nav-link pr-4 pl-3">Ranking</a>
      </li>

      <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mi perfil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Modificar datos</a>
          <a class="dropdown-item" href="#">Mis valoraciones</a>
          <a class="dropdown-item" href="#">Mis listas</a>
          <a class="dropdown-item" href="#">Cerrar sesión</a>
        </div>
      </li>-->
    </ul>
    
    <form  class="form-inline my-2 my-lg-0">
      <!--<input class="form-control mr-sm-2 search-custom" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0 btn-custom" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
      -->
      
        <input class="form-control mr-sm-2 search-custom"  #termino (keyup.enter)= "searchMovie(termino.value)" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0 btn-custom"  (click)= "searchMovie(termino.value)"   type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
        
      <!--<app-search></app-search>-->
    </form>
    <a *ngIf="!loggedIn" href="/login" class="btn btn-outline-success mx-1">Login</a>
  </div>
</nav>