<div class="row mt-4 pl-3">
  <h3>Novedades</h3><br/>
</div>
  <p>Conoce los últimos estrenos de la cartelera, ¡no te los pierdas!</p>

<div class="row my-2">
  <div class="col-4 mb-2 movie-card" *ngFor="let movie of newMovies">
    <a href="/main/movies/view/{{movie.id_movie}}">
    <div class="card">
      <div class="card-body row">
        <div class="col-6">
          <img src="{{movie.poster}}" alt="Movie poster" class="img-fluid">
        </div>
        <div class="col-6">
          <h5>{{movie.movie_name}}</h5>
          <p class="movie-description">{{movie.description}}</p>
          <div>
            <p><i class="material-icons">grade</i><span><b>{{movie.media_rating}}</b> / 10</span></p>
          </div>
        </div>
      </div>  
    </div>
    </a>
  </div>
</div>