<h3>Películas similares</h3>
  <div class="list-group">
    <a href="/main/movies/view/{{movie.id_movie}}" class="list-group-item list-group-item-action" *ngFor="let movie of relatedMovies">
      <div class="row">
        <div class="col-6">
          <img src="{{movie.poster}}" alt="Movie poster" class="img-fluid">
        </div>
        <div class="col-6">
          <h5>{{movie.movie_name}}</h5>
          <p class="movie-description">{{movie.description}}</p>
          <div>
            <p><i class="material-icons">grade</i><span><b>{{movie.media_rating}}</b> / 10</span></p>
          </div>
        </div>
      </div>
    </a>
  </div>