.bg {
  background-color: darkred;
}

.hero {
  background-image: url(../../../assets/images/186145-OX1QSV-36.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  text-align: center;
  color: #fff;

}

.border-text {
  text-shadow: 2px 2px #000;
}