<div class="row">
  <div class="hero col-12 py-5 p-5">
    <h2>Pop Corn Club es una comunidad en donde puedes valorar y descubrir películas que se ajustan a tus gustos.
    </h2>
    <h5>
      En nuestra plataforma dispones de un amplio catálogo de películas en el cual puedes consultar la filmografía de
      tus actores/actrices o directores/as favorito/as. También puedes crear tus propias listas de películas
      favoritas, películas pendientes de ser vistas, ...
      ¡Descubre nuevos contenidos y recomendaciones en base a tus gustos!
      Nuestro objetivo es crear un club activo donde los usuarios reciban recomendaciones y dar su opinión valorando
      los contenidos. ¡Únete a Pop Corn Club!</h5>
    <button class="btn btn-danger">Registrate</button>
  </div>
</div>
<div class="container">
  <app-new-movies-list></app-new-movies-list>
</div>