<div class="container-fluid">
<div class="row">
  <div class="hero col-12 py-5 p-5">
    <img src="../../../assets/images/popcorn.png" width="30%" class="mt-5">
    <h1 class="mt-5 border-text">¡PopCorn Club es tu comunidad de cine!
    </h1>
    <h5 class="mt-2 mb-4">
      Consulta películas, valora tus títulos preferidos y crea tu propia lista.<br>
      ¡Descubre nuevos contenidos y recomendaciones <br/>en base a tus gustos en PopCorn Club!
      </h5>
   <!--<button *ngIf="!loggedIn" class="btn btn-danger">Registrate</button>--> 
  </div>
</div>
</div>
<div class="container pb-5 mb-5">
  <app-new-movies-list></app-new-movies-list>
</div>