<div class="bottom">

</div>
<footer class="footer">
  <div class = "container">
    <div class="row">
      <div class="copi col sm text-white text-center mt-2">© 2020 Copyright:
        <p class = "text-white">
          Francisco Ruiz Escolante<br>
          Laura Ferreiro Adrio<br>
          Sergio Vecino Pérez
        </p>
      </div>
      <div class="ontimize col sm text-white text-center  mt-2">
        <p>Usando tecnología:</p>
        <img src="../../../../assets/images/ontimize.png" alt="ontimize" width="50%" class="ont-margin">
      </div>
      <div class="campus col sm text-white text-center  mt-2">
        <p>Para:</p> 
        <img src="../../../../assets/images/CD.png" alt="ontimize" width="50%">
      </div>
    </div>
  </div>
</footer>
