<footer class="footer navbar-fixed-bottom">
  <div class = "container">
    <div class="row">
      <div class="copi col sm text-white text-center">© 2020 Copyright:
        <p class = "text-white">
          Francisco Ruiz Escolante&nbsp; &nbsp;   Luara Ferreiro Adrio&nbsp; &nbsp;   Sergio Vecino Pérez
        </p>
      </div>
      <div class="ontimize col sm text-white  text-center">
        <p>Usando tecnología:</p>
        <img src="https://www.ontimize.com/xwiki/bin/download/Ontimize+Training/WebHome/ontimize-logo.png" alt="ontimize" width="200" height="80">
      </div>
      <div class="campus col sm text-white text-center">
        <p>Para:</p> 
        <img src="https://www.electromarket.com/uploads/2020/04/electromarket_campus_dual_cluster_21396_28172326.png" alt="ontimize" width="200" height="80">
      </div>
    </div>
  </div>
</footer>
