p.tag-list span{
    margin-right: 5px;
}

p.movie-rating > *{
    margin-right: 10px;
}

i.score-star { 
    color: #AAAAAA;
    font-size: 20px;
}
.badge{
    margin-left: 5px ;
}

.container-fluid {
    width: 75vw;
}