h1, p {
    text-align: center;
    margin-top: 40px;
    color: #fff;
}

img{
    width: 30%;
    margin-top: 50px;
} 

.jumbotron {
    background-color: #232323;
    height: 100vh;
    margin-bottom: -200px;
    border-radius: 0;
}