<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-sm-12 login-main-text text-center bg-cinema">
      <img src="./assets/images/popcorn.png" width="65%" class="middle">  
      <br> 
      <br> 
      <h2>Crea tu cuenta para disfrutar de todas las ventajas disponibles en Popcorn Club</h2>
    </div>
  <div class="col-lg-6 col-sm-12 p-5">
    <div class="col-12">
      <h2>Formulario de registro</h2>
    </div>
    <div class="col-12">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <fieldset>
          <div class="form-group">
            <label for="inputEmail">Correo electrónico</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Introduce un correo" #inputEmail>
          </div>
          <div class="form-group">
            <label for="inputNick">Nombre de usuario</label>
            <input type="text" class="form-control" id="inputNick" placeholder="Introduce un nombre de usuario" #inputNick>
          </div>
          <div class="form-group">
            <label for="inputPassword">Contraseña</label>
            <input type="text" class="form-control" id="inputPassword" placeholder="Introduce tu contraseña" #inputPassword>
          </div>
          <div class="form-group">
            <label for="inputName">Nombre</label>
            <input type="text" class="form-control" id="inputName" placeholder="Introduce tu nombre" #inputName>
          </div>
          <div class="form-group">
            <label for="inputSurname">Apellidos</label>
            <input type="text" class="form-control" id="inputSurname" placeholder="Introduce tus apellidos" #inputSurname>
          </div>
          <button type="submit" class="btn btn-secondary btn-lg btn-block redirect-button" mat-raised-button color="primary"><a [routerLink]="['registercomplete']">Registrarse</a></button>
        </fieldset>
      </form>
    </div>
</div>